{% extends 'layouts/main.html' %}

{% block content %}
    <h1>Inicio</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo doloremque tenetur ipsam delectus quidem corrupti nostrum laboriosam illum. Repudiandae unde quis molestiae sed. Veniam quas, optio eveniet libero sapiente laboriosam quia est ipsum voluptatum ea, enim dolore odio error exercitationem, perferendis explicabo deleniti odit corrupti asperiores sequi praesentium quaerat fugiat vero repudiandae. Iste, necessitatibus exercitationem nesciunt sed voluptatum illum aperiam repudiandae, aut ipsum excepturi enim voluptates modi magni totam, praesentium beatae delectus! Aut ex iure voluptate et praesentium odit, esse assumenda? Quasi placeat consequatur ipsum, magnam porro id vitae nostrum atque sunt, possimus quaerat voluptatum, esse qui hic pariatur ratione?</p>

{% endblock %}