{% extends 'layouts/main.html' %}

{% load static %}

{% block content %}
<!--
<h1>Inicio de sesión</h1>
{{ error }}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Iniciar sesión</button>
</form>
-->

<div class="row">
    <div class="col-md-4 offset-md-4">
        <main class="form-signin w-100 m-auto text-center">
            <form method="POST">
                <img class="mb-4" src="{% static 'media/bootstrap-logo.svg' %}" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

                {{ error }}

                {% csrf_token %}
        
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
                    <label for="floatingInput">Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password"  name="password" placeholder="Contraseña">
                    <label for="floatingPassword">Contraseña</label>
                </div>
        
                <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
                <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
            </form>
        </main>
    </div>
</div>


{% endblock %}